
div .toolBox {
    border: 1px solid black;
    width: 100%;
    margin: 3px;
    padding: 1px;
}

.toolTotal{
    margin-left: 10px;
}

.hidden{
    display: none;
}

.column{
    width: 30%;
    float: left;
    margin:10px;
}

#main_wrapper{
    margin: auto;
    padding: 20px 0 0 20px;
    position: relative;
}
#gamelog{
    top: 20px;
    height: 700px;
    overflow: auto;
    border: 1px solid black;
}

#tools_wrapper{

}

#stat_cards{
    font-family: 'Oxygen Mono', sans-serif;
}
