/* Here we go */
div .toolBox {
	border: 1px solid black;
	width: 50%;
}

 .toolTotal{
	margin-left: 10px;

 }
 
 
 
 .hidden{
	display: none;
 }
 
 #main_wrapper{
    /*margin: auto;*/
	/*width: 700px;*/
	padding: 20px 0 0 220px;
	position: relative;
 
 }
 #gamelog{
    position: absolute;
	top: 20px;
	left: 0px;
	height: 700px;
	width: 200px;
	overflow: hidden;
    border: 1px solid black;

 }
 
 #tools_wrapper{
   position:absolute;
    
    width:600px;
 }
 
 
 
 
 
